body{
    background-color: #511845;
    text-align: center;
}

h1{
    font-size: 8rem;
    font-family: 'Rubik Moonrocks';
    color: #fff;
    font-weight: 400;
}

h3{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
h2{
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
p{
    font-size: 1.5rem;
    line-height: 1.5;
}
.container_1{
    text-align: center;
}
.container_2{
    text-align: center;
    color: #612897;
    font-size: 1.75rem;
}
.container_3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.dice{
    display: inline-block;
    margin: 5%;
    /* border: solid; test */
}
.diceArea{
    /* border: solid; test */
}
.diceImage{
    width: 70%;
}

@media (max-width:1000px){
    h1{
        font-size: 2.75rem;
        font-family: 'Rubik Moonrocks';
        color: #fff;
        font-weight: 400;
        
    }
    h2{
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
    }
    
    h3{
        margin-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        font-size:1rem;
        
    }
    p{
        font-size: 0.5rem;
        line-height: 1.5;
    }
    /* .diceImage{
        width: 20%;
    } */
    .dice{
        display: inline-block;
      width: 30%;
      margin: 0;
    }
}


