body{
    background-color: #511845;
}

h1{
    font-size: 8rem;
    font-family: 'Rubik Moonrocks';
    color: #fff;
    font-weight: 400;
}

h3{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
h2{
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
p{
    font-size: 1.5rem;
    line-height: 1.5;
}
.container_1{
    text-align: center;
}
.container_2{
    text-align: center;
    color: #612897;
    font-size: 1.75rem;
}
.container_3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.dice{
    display: inline-block;
    margin: 5%;
    /* border: solid; test */
}
.diceArea{
    /* border: solid; test */
}
.diceImage{
    width: 70%;
}